.container {
  position: relative;
  height: 75%;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.textContainer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.score {
  /*color: #fff;*/
  font-size: 60px;
}

.total {
  /*color: #fff;*/
  font-size: 25px;
}