.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.circle {
  height: 180px;
  width: 180px;
  margin: auto;
  border: 1px solid blue;
  border-radius: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.time {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
}