.container {
  height: 100vh;
  width: 100vw;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #B3E5FC;
}

.topRight {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.sidebarContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  z-index: 2;
  background-color: #fff;
  opacity: 0.7;
}

.correct {
  background-color: white;
  padding: 5px 0;
  margin-bottom: 2px;
  list-style: none;
  text-align: center;

  &:hover {
    color: red;
  }
}