.container {
  height: 100vh;
  width: 100vw;
}

.sidebarContainer {
  vertical-align: top;
  display: inline-block;
  height: calc(100vh - 40px);
  width: 200px;
}

.timerContainer {
  width: 100%;
  height: 200px;
}

.searchContainer {
  width: 100%;
  padding: 0 10px 10px 10px;
}

.mapContainer {
  vertical-align: top;
  display: inline-block;
  height: calc(100vh - 40px);
  width: calc(100vw - 200px);
  background-color: #B3E5FC;
}

.correctGuesses {
  padding: 0 10px;
  overflow-y: auto;
}

.correct {
  list-style: none;
  text-align: center;
  border: 1px solid purple;
  padding: 5px;
  margin-bottom: 2px;

  &:hover {
    color: red;
  }
}

.progressBarContainer {
  position: rel;
  height: 40px;
  width: 100vw;
  background-color: steelblue;
}
