.container {
  height: 100vh;
  width: 100vw;
}

.sidebarContainer {
  vertical-align: top;
  display: inline-block;
  height: 100vh;
  width: 200px;
}

.timerContainer {
  width: 100%;
  height: 200px;
}

.searchContainer {
  width: 100%;
  padding: 0 10px;
}

.mapContainer {
  vertical-align: top;
  display: inline-block;
  height: 100vh;
  width: calc(100vw - 200px);
  background-color: #B3E5FC;
}

.correctGuesses {
  padding: 10px 10px 0 10px;
  overflow-y: auto;
}

.correct {
  list-style: none;
  text-align: center;
  border: 1px solid purple;
  padding: 5px;
  margin-bottom: 2px;

  &:hover {
    color: red;
  }
}
