@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #9AC7E6;
}

.topLeft {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;

  input {
    margin-bottom: 4px;
    padding: 5px 0;
  }
}

.topRight {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.correct {
  background-color: white;
  padding: 5px 0;
  margin-bottom: 2px;
  list-style: none;
  text-align: center;
}